body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f5f5dc;
}


header {
    text-align: center;
}

#introduction {
    font-size: 15px;
}


main {
    display: flex;
    justify-content: center;
}

fieldset {
    border-color: #000000;
    font-weight: 500;
}
legend {
    font-weight: 900;
}

input#sizepicker {
    -fx-background-color: red;
}

.custom {
    background-color: #2145EB;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    border: 5px;
    border-color: green;
    font-size: 13px;
}

#saved {
    display: grid;
    justify-content: start;
}
